<footer class="footer">
    <small>
        <a href="http://railstutorial.org/">Rails Tutorial</a>
        Symfony2 adaption.
    </small>
    <nav>
        <ul>
            <li><a href="{{ path('sancho_app_about') }}">About</a></li>
            <li><a href="{{ path('sancho_app_contact') }}">Contact</a></li>
            <li><a href="http://symfony.com/blog/">News</a></li>
        </ul>
    </nav>
</footer>
