{% extends 'SanchoAppBundle::layout.html.twig' %}

{% block title %}{{ full_title('About Us') }}{% endblock %}

{% block body %}

<h1>About Us</h1>
<p>
    The Symfony2 Tutorial is an attempt to use the well known
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    as a base to learn and compare Symfony2.
</p>

{% endblock %}
