{% extends 'SanchoAppBundle::layout.html.twig' %}

{% block title %}{{ full_title('Help') }}{% endblock %}

{% block body %}

<h1>Help</h1>
<p>
    Look for help on the
    <a href="http://symfony.com/doc/current/index.html">Symfony2 Documentation</a>.
</p>

{% endblock %}
